@import url("https://fonts.googleapis.com/css2?family=Combo&family=Roboto:wght@300;400&display=swap");

/* top, right, bottom, left */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("pictures/dinerBackground-unsplash.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
}

main {
  height: auto;
  margin: auto 18%;
  background: #ececec;
  border: 2px solid #3a7cde;
}

section {
  margin: 16px 16px 16px 16px;
}

/* #topBar {
  display: flex;
  justify-content: space-between;
  margin: auto 18%;
  height: 104px;
  top: 0px;
  border-radius: 8px;
  background-color: #3a7cde;
}

#topBar h1 {
  display: flex;
  color: #ffb800;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

#topBar h2 {
  display: flex;
  color: #ffff;
  font-family: "Combo", cursive;
  font-size: 26px;
  font-weight: 300;
}

#topBar img {
  float: left;
  padding: 16px 16px 16px 11px;
  border-radius: 2em;
}

#topBar h1 {
  padding: 16px 1px 0px 1px;
}

#right {
  display: flex;
  float: right;
  align-items: center;
  margin-right: 24px;
}

#right #btn1,
#btn2 {
  width: 112px;
  height: 40px;
  border-radius: 8px;
  color: #ffff;
  font-size: 20px;
  background-color: black;
  border: 2px solid #ffb800;
}

#right #btn1 {
  margin-right: 24px;
}

#bottomBar {
  display: flex;
  justify-content: space-evenly;
  margin: auto 18%;
  height: 32px;
  margin-top: 16px;
  align-items: center;
  background-color: #3a7cde;
}

#bottomBar li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #ffb800;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#bottomBar #li1 {
  margin-right: 360px;
}

#bottomBar #li2 {
  margin-right: 360px;
}

li:hover {
  color: rgb(201, 37, 37);
  text-decoration: underline;
} */

#section1 {
  display: flex;
  width: auto;
}

#section1 img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#section1 #title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1 #title1 h1 {
  color: #3a7cde;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#section1 #title1 p {
  font-family: "Combo", cursive;
  font-size: 21px;
  font-weight: 300;
}

#section1 #content1 {
  margin-left: 16px;
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#section2 {
  display: flex;
  width: auto;
}

#section2 h1 {
  margin-top: 32px;
  color: #3a7cde;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

#section2 p {
  margin-top: 48px;
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

#section2 img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 2px solid #3a7cde;
}

#section2 figcaption {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#section3 {
  margin-top: 24px;
  display: flex;
  width: auto;
  display: flex;
  width: auto;
  justify-content: space-around;
}

#sub-container {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
}

#section3 img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* #section3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#section3 div h1 {
  color: #3a7cde;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#heading1 {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

#hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hours div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#section3 p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#section4 {
  margin-top: 24px;
  width: auto;
}

#section4 h1 {
  color: #3a7cde;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#section4 #container div1 {
  display: flex;
}

#section4 p {
  margin-top: 48px;
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#footer {
  margin: auto 18%;
  height: 24px;
  left: 304px;
  bottom: 0;
  border: 2px solid #3a7cde;
  background-color: #3a7cde;
}

#footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer a,
li {
  list-style: none;
  text-decoration: none;
  color: #ffb800;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}

/* Header Info - Several Nested Flex Boxes */
header {
  height: 104px;
  top: 0px;
  margin: 0px 18% 16px 18%;
  background: #3a7cde;
  border-radius: 0px 0px 8px 8px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  height: 104px;
  align-items: center;
}

#header-left,
#header-right {
  display: flex;
}

/* Header Left Side (Logo) */
#text-container {
  display: flex;
  flex-direction: column;
}

#text-container h1,
#text-container h2 {
  margin: 0 0 0 24px;
}

#header-container img {
  /* Blue Logo */
  width: 72px;
  height: 72px;
  margin-left: 16px;
}

#logo-text-top {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffb800;
}

#logo-text-bottom {
  font-family: "Combo", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* Header Right Side (Buttons) */
#header-right button {
  transition: 0.2s;
  background: #0f0f0f;
  border: 2px solid #ffb800;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin-right: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#header-right button:hover {
  transition: 0.2s;
  background-color: gray;
  color: black;
}

/* Nav Bar - Top of Main */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 16px 18% 0px 18%;
  height: 32px;
  background-color: rgba(58, 124, 222, 1);
  color: #ffb800;
}

nav span a {
  font-size: 18px;
  color: #ffb800;
  text-decoration: none;
}
